pandas
requests
streamlit
yfinance
google-generativeai
google-api-core
google-auth
google-auth-httplib2
googleapis-common-protos
grpcio
grpcio-status
protobuf
pyarrow
pydeck
tenacity
tqdm
typing-extensions
uritemplate
urllib3
cachetools
charset-normalizer
idna
certifi
rsa
pyasn1
pyasn1-modules
six
httplib2
click
colorama
jinja2
markupsafe
packaging
platformdirs
pillow
watchdog
websockets
anyio
h11
httpcore
httpx
sniffio
frozendict
jsonschema
jsonschema-specifications
referencing
rpds-py
pydantic
pydantic-core
regex
tzdata
tzlocal
dateparser
multitasking
peewee
courlan
curl-cffi
htmldate
justext
lxml
lxml-html-clean
narwhals
beautifulsoup4
soupsieve
trafilatura
gitdb
gitpython
smmap
toml
tornado
cffi
pycparser
babel